//colors
$text: #070e06;
$background: #e3f3e3;
$primary-button: #224e36;
$secondary-button: #fbfdfd;
$accent: #0a1b1b;

$text: #020005;
$background: #f5f1fe;
$primary-button: #f3ac8c;
$secondary-button: #e8dffc;
$accent: #8cf3ac;

$text: #060703;
$background: #f4f7ee;
$primary-button: #40768c;
$secondary-button: #d4deb8;
$accent: #46203b;


//fonts
$font-body: 'Roboto', sans-serif;
$font-heading: 'Roboto Condensed', sans-serif;