// //colors
// $text: #060703;
// $background: #f4f7ee;
// $primary-button: #40768c;
// $secondary-button: #d4deb8;
// $accent: #46203b;

$text: #030805;
$background: #ecf8f1;
$primary-button: #319088;
$secondary-button: #d9e8f2;
$accent: #316990;

// //simple color scheme
// $text: #141415;
// $background: #f2f2f3;
// $primary-button: #3a393c;
// $secondary-button: #e3e2e4;
// $accent: #080708;

$text: #f9faf4;
$background: #212121;
$primary-button: #7bbc67;
$secondary-button: #181818;
$accent: #67bc7d;



//fonts
$font-body: 'Roboto', sans-serif;
$font-heading: 'Roboto Condensed', sans-serif;
