// //colors

.light-theme {
	--text: #030805;
	--background: #ecf8f1;
	--primary-button: #319088;
	--secondary-button: #d9e8f2;
	--accent: #316990;
}

.dark-theme {
	--text: #f9faf4;
	--background: #242424;
	--primary-button: #7bbc67;
	--secondary-button: #181818;
	--accent: #67bc7d;
}

//fonts
$font-body: 'Roboto', sans-serif;
$font-heading: 'Roboto Condensed', sans-serif;
