@use '../globals/variables' as v;
btn {
	padding: 0.25rem 1rem;
	border: none;
	border-radius: 0.25rem;
	margin-inline: 0.5rem;
	cursor: pointer;
}
btn:focus,
btn:hover {
	box-shadow: 0.1px 0.1px 10px 0.1px v.$primary-button;
}

.btn-primary {

	background-color: v.$primary-button;
	color: v.$background;
	text-decoration: none;
	@extend btn;
}

.btn-secondary {
	@extend .btn-primary;
	background-color: v.$background;
	color: v.$primary-button;
}

.link {
	font-family: v.$font-heading;
	text-decoration: none;
	color: v.$primary-button;
}

.link:hover,
.link:focus {
	text-decoration: underline;
	color: v.$accent;
}

.container {
	background-color: v.$secondary-button;
	padding: 0.75rem 2rem;
	border-radius: 1rem;
}

main {
	height: 100vh;
	width: 100%;
}

.input {
	margin: 0.5rem 0.5rem;
	background-color: v.$background;
	border: 1px solid v.$primary-button;
	border-radius: 0.25rem;
	resize: none;
}
.input:disabled {
	background-color: v.$secondary-button;
	border: 1px solid v.$background;
	opacity: 50%;
}

.article {
	margin-inline: auto;
	// border:1px solid red;
	min-width: 38rem;
	max-width: 53.125rem;
	padding: 1rem;
}

.list-container {
	flex-wrap: nowrap;
	background-color: v.$secondary-button;
	margin: 0.5rem 0.5rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
	border-radius: 0.25rem;
}

.nav-container {
	background-color: v.$accent;
	position: sticky;
	height: 4rem;
	top: 0;
	margin-bottom: 2rem;
	box-shadow: 1px 1px 10px 10px #33333333;
	border-bottom:3px v.$secondary-button solid;
}

.nav-link {
	margin: 1rem 0.5rem;
	font-family: v.$font-heading;
	color: v.$background;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1rem;
	cursor: pointer;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
	text-decoration: underline;
	color: v.$secondary-button;
}
